/*banner图*/
#banner_w{
	width:100%;
	height:304px;
	background-image:url(../../images/my_images/lxwm_banner.png);
	background-repeat:no-repeat;
	background-position:center;
}
#banner{
	width:1015px;
	height:304px;
	margin:0px auto;
	background-image:url(../../images/my_images/lianxiwomen.jpg);
	background-repeat:no-repeat;
	background-position:center;
}
.ban_top ul{
	width:1015px;
	/*height:323px;*/
	float:left;
}
.box_kx{
	height:12px;
	background:#1A1A1A;
	border-top:1px solid #9e9e9e;
}
/*body*/
.body_w{
	width:100%;
	/*height:766px;*/
	background:#1A1A1A;
}
.body_w .Box{
	width:1015px;
	/*height:766px;*/
	margin:0px auto;
	/*overflow:hidden;*/
}
.body_w .body_left{
	width:232px;
	height:527px;
	float:left;
	background-image:url(../../images/my_images/sub.png);
	background-repeat:no-repeat;
	background-position:left top;
}
.body_left ul{
	padding-top:85px;
	padding-left:0px;
}
.body_left ul .left{
	width:232px;
	height:43px;
	text-align:left;
	line-height:34px;
	background-image:url(../../images/my_images/ub.png);
	background-repeat:no-repeat;
	background-position:0px 34px;
}
.body_left ul .left a{
	width:232px;
	height:43px;
	display:block;
	color:#8e8b8a;
	text-align:center;
}
.body_left ul .left a:hover{
	color:#491304;
	background:url(../../images/my_images/sub_hover.png);
	background-repeat:no-repeat;
	font-size:16px;
}
.Box .body_right{
	width:765px;
	/*height:766px;*/
	float:right;
	background-image:url(../../images/my_images/right_bg.png);
	/*background-repeat:no-repeat;*/
	background-size:initial;
}
.body_right .title{
	background-image:url(../../images/my_images/title.png);
	height:39px;
	line-height:39px;
	margin-top:12px;
}
.title span{
	float:left;
	padding-left:19px;
	font-size:14px;
	color:#f1f1f1;
}
.title span em{
	font-size:10px;
	color:#7d7d7d;
	padding-left:5px;
	float:none;
}
.title em{
	float:right;
	padding-right:22px;
	color:#dadada;
	font-size:12px;
}
.title em a{
	text-decoration:none;
	font-style:normal;
	color:#dadada;
	font-size:12px;
}
.body_right .product{
	padding:24px;
	line-height:24px;
}
.product ul li{
	width:207px;
	padding-left:23px;
	float:left;
}
.product ul li a{
	display:inline-block;
}
.product ul li p{
	text-align:center;
	padding:11px 0px 12px 0px;
}
.product ul li p a{
	color:#838383;
	font-size:12px;
}
.product ul li a img{
	width:205px;
	height:145px;
	border:1px solid #d8d8d8;
}
.product .page{
	margin-top:633px;
	padding-top:11px;
	padding-bottom:20px;
	text-align:center;
	border-top:1px solid #b7b7b7;
}
.page a{
	padding:0px 5px;
	color:#6d6d6d;
	font-size:12px;
}
.product .h5{
	text-align:center;
	border-bottom:1px solid #d0d0d0;
	margin-bottom:12px;
	font-size:12px;
	font-weight:normal;
}
.product .h6{
	text-align:center;
	padding-bottom:20px;
}
.h6 img{
	width:411px;
	border:2px solid #fff;
}
.product .h7{
	height:20px;
	position:relative;
}
.h7 .h8{
	position:absolute;
	left:-28px;
	top:0px;
}
.product .h3{
	padding:10px;
}
.product .h4{
	border-top:1px solid #b7b7b7;
	padding:10px;
}
.h4 a{
	color:#797979;
	font-size:12px;
}