<link rel="stylesheet" type="text/css" href="{CSS_PATH}my_css/foot.css" />
	<!-- 页脚 -->
	<div class="copyright_w">
		<div class="copyright">
			<ul class="copy">
				<li class="li1">
					<img src="{IMG_PATH}my_images/weixin_01.jpg" alt=""/>
				</li>
				<li class="li1">
					<img src="{IMG_PATH}my_images/weixin_02.jpg" alt=""/>
				</li>
				<li class="li2">
					<p class="left">
						<a href="#" target="_blank">首页</a>
						<span>|</span>
						<a href="#" target="_blank">品牌介绍</a>
						<span>|</span>
						<a href="#" target="_blank">新闻动态</a>
						<span>|</span>
						<a href="#" target="_blank">产品展示</a>
						<span>|</span>
						<a href="#" target="_blank">服务专区</a>
						<span>|</span>
						<a href="#" target="_blank">在线留言</a>
						<span>|</span>
						<a href="#" target="_blank">联系方式</a>
					</p>
					<!-- <br/> -->
					<p class="right">
						<span>版权所有：广州欢腾鞋业有限公司 备案号：</span>
						<a href="#">备案号:&nbsp;晋ICP备*****号</a>
						<span>手机：18734563166&nbsp; 固话：400-6505-778
						</span>
				</li>
				<li class="li3">
					<img src="{IMG_PATH}my_images/tb.png" alt=""/>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>