{template "content","header"}
<link rel="stylesheet" href="{CSS_PATH}my_css/new.css" />
	<!-- banner -->
	<div id="banner_w">
		<div id="banner">
		</div>
	</div>
	<!-- box_kx -->
	<div class="box_kx"></div>
	<!-- body -->
	<div class="body_w">
		<div class="Box">
			<div class="body_left">
				<ul>
					{pc:content action="lists" catid="$catid" num=1}
					{loop $data $r}
					<li class="left">
						<a href="{$CATEGORYS[$catid][url]}">新闻动态</a>
					</li>
					{/loop}
					{/pc}
				</ul>
			</div>
			<div class="body_right">
				<div class="title">
        			<span>新闻动态
        				<em>NEWS</em>
        			</span>
            		<em>
            			<a href="{siteurl($siteid)}">首页</a>
            			&gt; 新闻动态
            		</em>
        		</div>
        		<div class="new_show">
        			<!--{pc:content action="lists" catid="$catid" num="1" moreinfo="1"}
        			{loop $data $r}
        				{$r[content]}
        			{/loop}
        			{/pc}-->
        			{pc:content action="lists" catid="$catid" num="9" page="$page"}
		     	 	<ul>
		     	 		{loop $data $v}
		     	 		<li class="new_list">
		     	 			<span class="new">
      							<a href="{$v[url]}">{$v[title]}</a>
      						</span>
      						<span class="new_right">[2016-03-12]</span>
		     	 		</li>
		     	 	{/loop}
					</ul>
					{/pc}
        			<div class="page"></div>
        		</div>
			</div>
		</div>
	</div>
{template "content","footer"}
