{template "content","header"}
<link rel="stylesheet" href="{CSS_PATH}my_css/gz.css" />
	<!-- banner -->
	<div id="banner_w">
		<div id="banner">
		</div>
	</div>
	<!-- box_kx -->
	<div class="box_kx"></div>
	<!-- body -->
	<div class="body_w">
		<div class="Box">
			<div class="body_left">
				<ul>
					{pc:content action="lists" catid="$catid" num=1}
					{loop $data $r}
					<li class="left">
						<a href="{$CATEGORYS[$catid][url]}">新闻动态</a>
					</li>
					{/loop}
					{/pc}
				</ul>
			</div>
			<div class="body_right">
				<div class="title">
        			<span>新闻动态
        				<em>NEWS</em>
        			</span>
            		<em>
            			<a href="{siteurl($siteid)}">首页</a>
            			&gt; 新闻动态
            		</em>
        		</div>
        		<div class="new_show">
        			<p class="h1">雪地靴保养说明</p>
        			<p class="h2">浏览次数： 23    日期：2014-03-12 13:16:30</p>
        			<div class="h3">
						<p>
							<span>
								国际鞋业网12月11日讯，有句话说“闻香识女人”，最近，则有人提出了另一个观点———“看鞋识男人”。重复购买固定式样鞋子的男人很念旧；节俭穿鞋的男人个性拘谨、保守但又“内心热情”；随随便便穿鞋的男人不拘小节，容易自欺欺人；爱穿正统黑皮鞋的男人有不折不扣的大男人主义倾向……这些说法有没有道理呢？为什么一双鞋能反映出人内心深处这么多东西？
							</span>
						</p>
						<p>
							<span>
								目前在英国女性中流传着一种新的择偶方法，她们在一分钟之内就可以确定眼前的这个男人是不是自己梦中的白马王子，而这一切都是通过看男人脚上穿的鞋子来确定的。对此，著名的肢体语言专家福利克埃弗雷特根据穿鞋的习惯将男人分为5种。
							</span>
						</p>
						<p>
							<span>
								重复购买固定式样鞋子的男人很怀旧
							</span>
						</p>
						<p>
							<span>
								这种类型的男人是很念旧的男人。对于自己习惯的人、事、物，总有一份深深的依恋，就算他的情人无理取闹、任性、孩子气，他也会以一种包容的心态去待她，直到她渐渐成熟明理。他的老朋友很多，对朋友十分讲义气，他会为朋友出头且适时伸出援助之手，让老朋友觉得他是个值得信赖的靠山。因此，你若是爱上了他，不妨多倾听他的烦恼，多体贴他的生活细节，彼此的情感要以稳定成长的方式进行。
							</span>
						</p>
						<p>
							<span>
								节俭穿鞋的男人很保守
							</span>
						</p>
						<p>
							<span>
								买一双鞋子之后，他就非常珍惜它，希望鞋子能穿久一点，可以节省一笔置装预算。而他鞋柜中的鞋子，“鞋龄”都很长。在个性上，他是属于拘谨、放不开的保守型男人。在为人处事上，不够圆滑，常常会得罪人而不自知；在人际关系上，周旋的格局较小；在专业领域中，他会因默默努力，而有成功机会。因此，你若是爱上了他，小心！他可是一位“内心热情”的男子。第一次约会时，心中就对你有着无限的遐想，希望能早日和你变成情人，能一拍即合，亲密无间。但他那拘谨、保守的个性，又压抑着他内心，不敢向你表白。所以你不妨主动一些，多制造机会让他可以表白。
							</span>
						</p>
						<p>
							<span>
								随便穿鞋的男人不拘小节，眼高手低
							</span>
						</p>
						<p>
							<span>
								这种类型的男人不在乎自己穿什么鞋子，乱穿一通。有的时候鞋子与衣服一点儿也不相配，哪怕是鞋子早已破损、式样过时，他也无所谓。甚至不穿袜子、袜子已破损、穿错，他都可以忍受。在个性上，他是个不拘小节的男人，常常眼高手低。私生活没什么条理，又喜欢做白日梦，相信总有一天自己可以一步登天，容易过着自欺欺人的生活。你若是爱上了他，会发现他的感情世界纷乱复杂，常常是忘记不了旧爱，又拒绝不了新欢。三角恋、四角恋纠缠一起，而当一切纷争引爆时，他会选择“逃开”。
							</span>
						</p>
						<p>
							<span>
								爱穿正统黑皮鞋的男人多是大男子主义
							</span>
						</p>
						<p>
							<span>
								这种类型的男人习惯穿正统黑皮鞋，并且把鞋子擦得亮亮光光，绝对不能忍受自己穿双脏鞋子或旧鞋子出门。这种类型的男人，若是连休假或约会都习惯穿他那正统的黑皮鞋，你可要有心理准备，他肯定有不折不扣的大男人主义倾向，而且对母亲的意见十分看重。你若是爱上他，可别有想左右他的想法，他有一套属于自己的待人处事原则，绝对不会因为你而修改。
							</span>
						</p>
						<p>
							<span>
								爱穿休闲鞋的男人重品位
							</span>
						</p>
						<p>
							<span>
								这种类型的男人是注重休闲生活和生活品位的男人。对于鞋子要求很高，不但要舒适，而且更注重鞋子的款式，还要搭配合适的服装。在个性上，他喜欢掌握主动权，主观意识强，对自己的要求很严格，对异性的要求更是挑剔。在生活上，是个有规律的计划者。和他约会时，你可以感觉到他是个十分体贴的好情人，态度温和有礼，言谈风趣幽默，他也是个十分了解自己喜欢什么样女孩的人。所以和他约会时，即使你不合他的理想，他也会很亲切，别以为他对你有好感，他只是有绅士风度而已。
							</span>
						</p>
        			<div class="h4">
        				<a href="{$previous_page[url]}">上一条：{$previous_page[title]}</a><br/>
        				<a href="javascript:;">下一条：</a>
        				<a href="{$next_page[url]}">{$next_page[title]}</a>
        			</div>
        		</div>
			</div>
		</div>
	</div>
{template "content","footer"}
